body{
    margin: 0;
}
.parent{
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    overflow: none;

}
.child{
    width: 20%;
    height: 40%;
    background-color:beige;
    text-align: center;
    border-radius: 5px;
    overflow: none;
 
}
input{
    width: 250px;
    border-radius: 5px;
}
button{
    width: 250px;
    border-radius: 5px;
    background-color: blue;
}
h1{
 padding-right: 120px;
 padding-top: 5px;
}